@import "./main.scss";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $backgroundColor-primary;
  height: 150px;
  color: $textColor-primary;

  li {
    font-size: 16px;
    padding-bottom: 5px;
  }

  &_copyright {
    font-size: 20px;
  }
  &_mention {
    font-size: 20px;
    color: $linkColor;
  }

  &_contactTitre {
    font-size: 18px;
    padding-bottom: 10px;
  }

  &_email {
    color: $linkColor;
  }
}
