@import "./main.scss";

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $backgroundColor-primary;
  height: 120px;
  padding: 0px 50px;
  z-index: 9999;
  @media screen and (max-width: 980px) {
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
  }
}

.divLogo {
  width: 400px;
  display: flex;
  justify-content: center;
  .logo {
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width: 980px) {
      width: 100px;
    }
  }
}

.nav {
  &_list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 50px;
    color: $linkColor;
    font-size: 24px;

    li {
      &:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.1);
      }
    }
  }
}

// Section Contact
.divContact {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  p {
    font-size: 20px;
    color: $textColor-primary;
  }

  a {
    color: $linkColor;
  }

  svg {
    height: 20px;
    width: 20px;
  }
}
