@import "./main.scss";

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $backgroundcolor-primary;
  height: 120px;
  width: 100%;
  padding: 0px 50px;
  z-index: 1001;
  @media screen and (max-width: 980px) {
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
  }
}

.logo {
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media screen and (max-width: 980px) {
    width: 100px;
  }
}

.nav {
  &_list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 50px;
    color: $linkcolor;
    font-size: 24px;

    li {
      &:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.1);
      }
    }
  }
}
