@import "./main.scss";

// Common
.sectionDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

h1 {
  font-size: 28px;
  padding-bottom: 30px;
}
h2 {
  font-size: 26px;
  padding-bottom: 20px;
}
.text {
  font-size: 20px;
  padding: 0 100px 30px;
}

// Section Introduction
.quiSommesNous {
  background-color: #ffffff;
  padding: 180px 0 70px;
  min-height: 400px;
}

// Section Expertise
.nosExpertise {
  background-color: #effffe;
  min-height: 400px;
  padding: 70px 0;
}

// Section Partenaire
.nosPartenaire {
  background-color: #ffffff;
  min-height: 300px;
}

// Section Contact
.homeContact {
  background-color: #effffe;
  min-height: 200px;
}
