@import "./main.scss";

.errorPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-primary;
  margin: 200px 0px;
  &_error {
    font-weight: 700;
    font-size: 288px;
    @media screen and (max-width: 426px) {
      font-size: 96px;
    }
  }

  &_message {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    @media screen and (max-width: 426px) {
      font-size: 18px;
      margin: 20px 50px;
    }
  }

  &_backToHome {
    font-weight: 500;
    font-size: 18px;
    text-decoration-line: underline;
    margin-top: 200px;
    &:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.1);
    }
    @media screen and (max-width: 426px) {
      font-size: 14px;
    }
  }
}
