@import "./main.scss";

// Common
.sectionDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  color: $textColor-primary;

  img {
    height: 150px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
    border-radius: 10px;
  }
}

h1 {
  font-size: 50px;
  padding-bottom: 100px;
  max-width: 1200px;
  text-align: center;
  .textLogo {
    color: $textLogoColor;
  }
  .textGradient {
    background: linear-gradient(to right, #4cddc5, #2145d9);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }
}

h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

.textIntro {
  font-size: 26px;
  max-width: 1200px;
  padding-bottom: 70px;
  text-align: center;
}

.textExpertise {
  font-size: 22px;
}

// Section Introduction
.introduction {
  background-image: linear-gradient(
    to bottom,
    #102c27,
    #001f3f,
    $backgroundColor-secondary
  );
  padding: 50px 0 70px;
  min-height: 400px;
}

// Section Expertise
.nosExpertise {
  background-color: $backgroundColor-secondary;
  min-height: 400px;
  gap: 40px;
  padding: 50px 0;
  .articleExpertise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    .divText {
      flex: 1;
    }

    .divImage {
      flex: 1;
      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0 25px;
      }
    }
  }
  .reverseArticle {
    flex-direction: row-reverse;
  }
}

// Section Partenaire
.nosPartenaire {
  background-image: linear-gradient(
    to bottom,
    $backgroundColor-secondary,
    #001f3f
  );
  min-height: 300px;
  padding: 50px 0;
}
