$backgroundcolor-primary: #191b21;
$backgroundcolor-secondary: #2e3038;
$textcolor-primary: #ffffff;
$textcolor-secondary: #a0a0a0;
$linkcolor: #6fa1d2;
$warningcolor: #ff6666;
$confirmationcolor: #78d271;
