$backgroundColor-primary: #191b21;
$backgroundColor-secondary: #2e3038;
$textColor-primary: #ffffff;
$textColor-secondary: #a0a0a0;
$textLogoColor: #d0b878;
$linkColor: #6fa1d2;
$warningColor: #ff6666;
$confirmationColor: #78d271;
