*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  //can remove max-width for bigger screen
  max-width: 1440px;
  padding-top: 5px;
  margin: 0 auto;
}
